.site__footer {
	background-color: $c_dark_blue;
	width: 100%;
	padding: 4rem $d_default_gutter;
	@include bp($b_desktop) {
		padding-right: $d_default_gutter;
		padding-left: $d_default_gutter;
	}
	.wrapper {
		display: flex;
		flex-flow: row wrap;
	}
	.widget {
		flex: 1 1 100%;
		@include bp($b_tablet) {
			flex-basis: 50%;
			max-width: 50%;
		}
		@include bp($b_laptop) {
			flex-basis: 23%;
			max-width: 23%;
		}
	}
	h2 {
		margin-top: 0;
		color: white;
		line-height: 1;
		border-bottom: #{$d_default_gutter / 4} solid $c_orange;
		padding-bottom: $d_default_gutter;
		text-transform: uppercase;
		font-size: 1rem;
		br {
			line-height: 0;
			font-size: 4em;
		}
	}
	a {
		color: $c_orange;
	}
	ul {
		padding-left: $d_default_gutter;
	}
}

#colophon {
	background-color: $c_blue;
	width: 100%;
	font-size: 0.85rem;
	.wrapper {
		padding: 2rem 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	span {
		margin: 0;
	}
	.credit {
		flex-basis: 25rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-end;
		img {
			margin: 0;
			flex: 1 1 10rem;
			max-width: 10rem;
		}
	}
}
