.site__header {
	width: 100%;
	max-width: 100%;
	margin: auto;
	background-color: $c_blue;
	border-top: 1px solid $c_dark_blue;
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		position: relative;
	}

	h1 {
		margin: $d_default_gutter auto;
		flex: 1 1 23rem;
		color: white;
		font-weight: normal;
		text-transform: uppercase;
		padding: 0.5rem $d_default_gutter;
		a {
			color: white;
			&:hover {
				color: white;
			}
		}
		svg {
			width: 7rem;
			float: left;
			margin: auto;
			margin-right: 0.5rem;
			margin-top: -0.5rem;
			margin-bottom: -0.5rem;
		}
		span,
		strong {
			float: left;
			width: calc(100% - #{7rem + $d_default_gutter});
			margin: 0;
			line-height: 1;
		}
		span {
			font-size: 0.7em;
			// line-height: 1.3;
		}
		strong {
			color: $c_orange;
		}
	}
}

.menu--top {
	position: absolute;
	top: 0;
	right: 0;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-flow: row wrap;
		li {
			background-color: $c_dark_blue;
			border-radius: 0 0 0.5rem 0.5rem;
			color: white;
			margin-left: 2px;
			padding: 0 0.75rem;
			text-transform: lowercase;
			font-variant: small-caps;
		}
	}
}

.menu--primary {
	flex: 1 1 25rem;
	margin: 0;
	padding: $d_default_gutter 0;
	.menu__list {
		display: none;
		height: 100%;
		padding: 0;
		list-style-type: none;
		margin: 0;
		align-items: center;
		a {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	.menu__item a:hover {
		color: $c_orange;
	}
	&--mobile {
		margin: 0 auto;
		display: block;
	}
	.menu__list--submenu {
		position: absolute;
		top: 100%;
		left: #{$d_default_gutter * -1};
		padding: $d_default_gutter;
		display: block !important;
		overflow: hidden;
		height: auto;
		width: auto !important;
		white-space: nowrap;
		background-color: $c_blue;
		z-index: 999;
		opacity: 0;
		pointer-events: none;
		transition: 0.5s opacity ease-in-out;
		.menu__item {
			margin-bottom: 0.5rem;
		}

	}
	.menu__item--has-children {
		position: relative;
		&:hover {
			.menu__list--submenu {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	@include bp($b_tablet) {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	@include bp($b_laptop) {
		justify-content: space-between;
		.menu__list {
			display: flex;
			width: 100%;
		}
		&--mobile {
			display: none;
		}
	}
}

.post-edit-link {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: $d_default_gutter;
	background-color: white;
}
