#splash {
	background-image: url($p_images + 'ShastaBackground.jpg');
	background-position: center -110px;
	background-size: 1700px;
	// height: 80vh;
	min-height: 910px;
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-color: #061a33;
	position: relative;
	align-content: space-between;
	&:before {
		width: 1700px;
		height: 100%;
		content: '';
		background: -moz-linear-gradient(left,  rgba(#061a33, 1) 0%, rgba(#061a33, 0) 10%, rgba(#061a33, 0) 90%, rgba(#061a33, 1) 100%);
		background: -webkit-linear-gradient(left,  rgba(#061a33, 1) 0%, rgba(#061a33, 0) 10%,rgba(#061a33, 0) 90%,rgba(#061a33, 1) 100%);
		background: linear-gradient(to right,  rgba(#061a33, 1) 0%, rgba(#061a33, 0) 10%,rgba(#061a33, 0) 90%,rgba(#061a33, 1) 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e56', endColorstr='#003e56',GradientType=1 );
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: calc(50% - 850px);
		display: block;
	}
	h2 {
		// margin: 0 auto;
		color: white;
		width: 100%;
		img {
			width: 63vw;
		}
		svg {
			width: 100%;
			max-width: 650px;
			margin: 0 auto;
			display: block;
			@include bp($b_tablet) {
				min-width: 650px;
			}
		}
	}
	#clip-path {
		display: none;
		@include bp($b_tablet) {
			display: initial;
		}
	}
	#closer {
		// margin-bottom: 6rem;
		margin-top: 0;
		margin-bottom: 6rem;
		padding: 0 $d_default_gutter;
		@include bp($b_tablet) {
			padding: 0;
			margin-bottom: auto;
		}
	}
	.wrapper {
		// overflow: hidden;
		position: relative;
		width: auto;
	}
	.button {
		position: absolute;
		top: calc(100% + 2rem);
		font-weight: bold;
		font-size: 1.5rem;
		padding: 0.4rem 0.75rem 0.35rem 0.75rem;
		right: $d_default_gutter;
		@include bp($b_tablet) {
			right: 0;
		}
	}
}
.splash__tagline {
	// max-width: 30rem;
	display: block;
	margin: 5.5rem auto 0;
	text-transform: uppercase;
	line-height: 1;
	span {
		margin: 0;
		float: left;
		width: 100%;
		font-size: 2.5rem;
		&:last-of-type {
			text-align: right;
		}
	}
	strong {
		font-size: 8rem;
		margin: 0;
		float: left;
		width: 100%;
		line-height: 1;
		margin-bottom: -0.1em;
		font-weight: 900;
	}
}

#splash__nav {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	h2 {
		flex-basis: 100%;
		text-align: center;
		font-size: 2.5rem;
		margin-top: 0;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}
	a {
		flex: 1 1 33%;
		text-decoration: none;
		margin-bottom: 3rem;
	}
	img {
		border-radius: 50%;
		border: 8px solid $c_blue;
		max-width: 12rem;
		margin: 0 auto;
	}
	figcaption {
		color: white;
		font-style: normal;
		font-size: 1.5rem;
	}
}

#education,
#support_services,
#career {
	overflow: hidden;
	margin: 0;
	padding: $d_default_gutter;
	img {
		border-radius: 50%;
		border: 8px solid;
		max-width: 15rem;
		margin: 0 auto;
		display: block;
	}
	h2 {
		color: white;
		text-align: center;
		margin: 0 auto $d_default_gutter;
		font-weight: 900;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
	p {
		color: white;
		margin-bottom: 1rem;
	}
	.button {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		color: white !important;
		font-size: 0.75rem;
		padding: 0.65rem 1rem;
		border-bottom: 2px solid darken($c_orange, 20);
	}
	@include bp($b_tablet) {
		padding: 10vh $d_default_gutter;
		.wrapper {
			display: flex;
			flex-flow: row wrap;
		}
		.text,
		figure {
			flex: 1 1 50%;
		}
		figure {
			display: flex;
			align-items: center;
			flex-flow: row wrap;
		}
		img {
			max-width: 100%;
		}
		h2 {
			text-align: left;
		}
		.button {
			width: calc(100% - 2rem);
			margin-top: 3rem;
		}
		// img {
		// 	float: right;
		// 	max-width: calc(50% - 3rem);
		// 	border-width: $d_default_gutter;
		// 	margin-left: 3rem;
		// }
	}
	@include bp($b_desktop) {
		padding-left: 0;
		padding-right: 0;
	}
}

#education {
	background-color: $c_blue;
	@include bp($b_tablet) {
		.text {
			padding-right: 2rem;
		}
	}
	figure {
		order: 2;
	}
	img {
		border-color: $c_dark_blue;
	}
}

#support_services {
	background-color: $c_dark_blue;
	@include bp($b_tablet) {
		.text {
			padding-left: 2rem;
		}
	}
	img {
		border-color: $c_blue;
		@include bp($b_tablet) {
			// float: left;
			// margin-left: 0;
			// margin-right: 2rem;
		}
	}
}

#career {
	background-color: $c_blue;
	@include bp($b_tablet) {
		.text {
			padding-right: 2rem;
		}
	}
	figure {
		order: 2;
	}
	img {
		border-color: $c_dark_blue;
	}
}

#cta {
	// background-image: url($p_images + "students.jpg");
	// position: relative;
	// overflow: hidden;
	// background-position: center center;
	// background-size: cover;
	// padding: 20vh 0;
	// margin: 0;
	padding: 8rem 0;
	&:before {
		background-color: $c_orange;
		mix-blend-mode: hard-light;
	}
	.wrapper {
		position: relative;
		z-index: 9;
	}
	h2 {
		color: white;
		text-align: center;
		margin: 0;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
	.button {
		display: block;
		margin: $d_default_gutter auto;
		width: 20rem;
		text-align: center;
		border: 4px solid white;
		font-size: 1.5rem;
		background-color: $c_blue;
	}
}

#careers {
	background-color: $c_light_blue;
	padding: 2rem 0;
	margin: 0;
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		max-width: 960px;
	}
	h2 {
		margin: 2rem 0;
		flex: 1 1 100%;
		text-align: center;
		font-size: 2.5rem;
		color: $c_dark_blue;
	}
	figure {
		flex: 1 1 17rem;
		padding: #{$d_default_gutter * 2};
		img {
			border-radius: 50%;
			border: 0.5rem solid white;
		}
	}
	figcaption {
		font-size: 1.2rem;
		font-style: normal;
		color: $c_dark_blue;
		text-transform: uppercase;
	}
}

#contact {
	// background-image: url($p_images + 'working-adults.jpg');
	// background-size: cover;
	// background-position: center center;
	// margin: 0;
	// position: relative;
	// padding: 4rem 0;
	&:before {
		// content: "";
		// display: block;
		// position: absolute;
		// top: 0;
		// right: 0;
		// bottom: 0;
		// left: 0;
		// width: 100%;
		// height: 100%;
		background-color: $c_blue;
		// mix-blend-mode: multiply;
	}
	.wrapper {
		position: relative;
		z-index: 999;
	}
	h2 {
		margin: 0 auto 4rem;
		text-align: center;
		color: white;
		font-size: 2.5rem;
		line-height: 1.5;
		text-transform: uppercase;
		margin-bottom: 4rem;
		small {
			margin: 0;
			font-family: Lato;
			font-weight: 300;
		}
	}
}

.home .wpcf7-form {
	max-width: 40rem;
	overflow: hidden;
	margin: $d_default_gutter auto;
	br {
		display: none;
	}
	input,
	textarea {
		border-radius: #{$d_default_gutter / 2};
		border: none;
		margin: 0;
		min-height: 2rem;
		line-height: 2rem;
		padding-left: 0.5rem;
	}
	.your-name,
	.your-phone,
	.your-email {
		float: left;
		clear: left;
		width: 50%;
		padding-right: #{$d_default_gutter/ 2};
		box-sizing: border-box;
		margin-bottom: $d_default_gutter;
		input {
			width: 100%;
		}
	}
	.your-message,
	.wpcf7-submit {
		float: right;
		clear: right;
		width: 50%;
		padding-left: #{$d_default_gutter/ 2};
		box-sizing: border-box;
		margin-bottom: #{$d_default_gutter / 2};
		textarea {
			width: 100%;
			line-height: inherit;
			height: 12rem;
		}
	}
	.wpcf7-submit {
		max-width: calc(50% - #{$d_default_gutter / 2});
		background-color: $c_blue;
		border: 2px solid white;
		color: white;
		text-transform: uppercase;
		font-size: 1rem;
		font-family: Lato;
	}
}
