/* =========================================
		Site
   ========================================= */

* {
	max-width: none;
	box-sizing: border-box;
}
div {
	margin: inherit;
}
.site,
.site__body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Lato;
	background-color: $c_blue;
	color: white;
}

.wrapper {
	max-width: $d_container_max;
	margin: 0 auto;
	width: 100%;
}

button,
.button,
input[type=button] {
	text-decoration: none;
	color: white !important;
	border: none;
	background-color: $c_orange;
	padding: #{$d_default_gutter / 2};
	text-transform: uppercase;
}

main {
	@extend .wrapper;
	padding: 0 $d_default_gutter;
	@include bp($b_desktop) {
		padding: 0;
	}
}


.page--header {
	background-color: $c_light_blue;
	h1 {
		padding: 2rem $d_default_gutter;
		margin: 0;
		color: $c_dark_blue;
		text-transform: uppercase;
		@include bp($b_desktop) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.wrapper {
		position: relative;
	}
	.crumbs {
		margin: auto;
		position: absolute;
		right: $d_default_gutter;
		bottom: $d_default_gutter;
		text-transform: uppercase;
		font-size: 0.85rem;
		color: $c_dark_blue;
		height: 1.5rem;
		@include bp($b_desktop) {
			right: 0;
		}
		ul {
			list-style-type: none;
			li {
				float: left;
				margin-left: 0.5rem;
				&:after {
					content: "/";
				}
				&:last-of-type:after {
					content: '';
				}
			}
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.parallax {
	min-height: 15rem;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		mix-blend-mode: color;
	}

	.image {
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		background-position: center center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		opacity: 0.5;
		background-size: cover;
		background-repeat: no-repeat;
	}
	h2,
	blockquote {
		position: relative;
		z-index: 2;
		align-self: center;
		margin: 0 10vw;
		color: white;
		max-width: 100%;
	}
	blockquote {
		@extend h3;
		color: white !important;
		text-transform: none;
		font-variant: normal;
	}
	blockquote p {
		margin: 0;
	}
	blockquote:before,
	blockquote:after {
		color: white;
	}
	blockquote:after {
		bottom: -5.8rem;
	}
}

.wpcf7 p {
    margin-bottom: 0;
}

#partner_list {
	list-style-type: none;
	padding: 0;
	img {
		float: right;
	}
	& > li {
		border-bottom: 1px solid white;
		&:last-of-type {
			border-bottom: none;
		}
	}
}
