/* =========================================
		Dimensions
   ========================================= */
/**
 * Prefix dimensions with $d_
 * to make them easier to find
 * with autocomplete
 *
 */

// examples:

// containers
$d_container_max: 60rem;

$d_media_mobile: 480px;

$d_media_tablet: 768px;

$d_media_laptop: 960px;

$d_media_desktop: 1200px;


// gutters
$d_default_gutter: 1rem;
