/* =========================================
		Typography
   ========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

// examples:
$edit-mode: false;
$theme: Custom;
$custom-font-body: 'Lato';

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic);



@import '../../../node_modules/gutenberg-web-type/src/style/gutenberg.scss';

h1,
h2,
h3,
h4,
h5 {
	font-family: Museo Slab;
}


// font family
$t_font_display: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

$t_font_body: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

// font size
// $t_size_base: 16px;
